.palette-mosaic-regular {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container{
    background-color: #e9ecef;
    color: #003049;

    text-align: center;
    width: 75%;
    margin: 8% 10% 20% 5%;
    /* cima baixo direita esquerda */
}

body{
    background-color: #e9ecef;
    color: #003049;
}

.Hello{
    font-family: "Palette Mosaic", system-ui;
    font-style: italic;
    color: #ee6c93;
    font-size: 80px;
    text-align: center;
}

#watermark img{
    bottom: 0;
    opacity: 0.5;
    max-width: 100%;
}

#watermark{
    height: 90px;
    width: 90px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
